.navbar {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    margin: 10px;
}

.navbar-nav .nav-link {
    color: black;
    font-weight: bold;
    transition: 0.3s;
  }
  
form {
    padding:10px;
}
footer {
    background: #343a40;
    color: white;
    padding: 20px 0;
    margin-top: 40px;
}
