body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #89f7fe, #66a6ff);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.navbar {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 0 0 10px 10px;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 100;
    margin: 0;
}

.navbar-brand {
    font-size: 1.5rem;
    color: white;
}

.login {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 320px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    margin-bottom: 20px; /* Thêm margin-bottom để tạo khoảng cách với footer */
}

.login_title {
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

h4 {
    text-align: left;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    margin-bottom: 10px;
    padding: 12px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: 0.3s;
}

.separator {
    margin: 15px 0;
    font-weight: bold;
    color: #888;
}

footer {
    background-color: #343a40;
    color: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-top: 20px;
}

footer p {
    margin: 0;
}