
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #89f7fe, #66a6ff);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.navbar {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    margin: 15px;
  }
  
  .navbar-brand {
    font-size: 1.5rem;
    color: white;
  }
  
.login {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 320px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.login_title {
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

h4 {
    text-align: left;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    margin-bottom: 10px;
    padding: 12px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: 0.3s;
}

.separator {
    margin: 15px 0;
    font-weight: bold;
    color: #888;
}
