body {
    background: linear-gradient(to right, #4db492, #0d357c);
    color: white;
    font-family: Arial, sans-serif;
}

.contact-section {
    background: white;

    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    color: black;
   
    margin: auto;
}
