body {
    background: linear-gradient(135deg, #00ffdd, #17ff2a);
    color: #fff;
    text-align: center;
}

.app-logo {
    width: 120px;
    margin-bottom: 20px;
}
.btn-download {
    margin: 30px;
    padding: 12px 20px;
    font-size: 18px;
}